Repository WangBRen/HMS-Web-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: vue-cli-service lint --mode preview, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.vue": "vue-cli-service lint --mode preview",
  "*.js": "eslint --fix",
  "*.{css,less}": "stylelint --fix"
}

fix: 增加gb
  src/views/detection/EcgDetail.vue
Due: vue-cli-service lint --mode preview

fix: ?
  src/views/detection/EcgDetail.vue
Due: vue-cli-service lint --mode preview

fix: update
  src/api/device.js
  src/views/detection/Devices.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: update
  src/api/device.js
Due: eslint --fix

fix: update
  src/views/detection/EcgDetail.vue
Due: vue-cli-service lint --mode preview

feat: 尿检增加原始数据
  src/views/detection/EcgDetail.vue
Due: vue-cli-service lint --mode preview

feat: update
  src/api/device.js
  src/views/detection/Devices.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: update
  src/views/detection/Devices.vue
Due: vue-cli-service lint --mode preview

feat: update
  src/api/device.js
Due: eslint --fix

feat: ?
  src/views/detection/EcgDetail.vue
Due: vue-cli-service lint --mode preview

fix: 修改14项
  src/views/detection/EcgDetail.vue
Due: vue-cli-service lint --mode preview

fix: 14
  src/views/detection/EcgDetail.vue
Due: vue-cli-service lint --mode preview

feat: 家庭设备与报告
  src/api/device.js
  src/views/detection/DeviceReport.vue
  src/views/detection/Devices.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 家庭设备与报告
  src/views/detection/DeviceReport.vue
Due: vue-cli-service lint --mode preview

feat: 增加设备报告数，groupId查询
  src/api/customer.js
  src/views/customer/CustomerManager.vue
  src/views/detection/DeviceReport.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: ?
  src/views/station/components/MapContainer.vue
Due: vue-cli-service lint --mode preview

Update dev_deploy.yml
  .github/workflows/dev_deploy.yml
Due: none

Update prod.yml
  .github/workflows/prod.yml
Due: none
