Repository WangBRen/HMS-Web-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: vue-cli-service lint --mode preview, eslint --fix, stylelint --fix

fix: 售后管理：售后搜索
  src/views/afterSale/saleRepair.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：售后搜索
  src/api/afterSale.js
  src/views/afterSale/saleRepair.vue
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 问题管理变成二级
  src/api/afterSale.js
  src/views/afterSaleData/saleQuestionManage.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 取消问题分页
  src/views/afterSaleData/saleQuestionManage.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：问题优化
  src/views/afterSale/saleRepair.vue
  src/views/afterSale/saleRepairAdd.vue
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview

feat: 月结单
  package.json
  src/utils/excel/Blob.js
  src/utils/excel/Export2Excel.js
  src/views/afterSale/saleRepair.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 售后管理：优化月结单
  src/views/afterSale/saleRepair.vue
  src/views/afterSale/saleRepairAdd.vue
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：优化月结单
  src/views/afterSale/saleRepairAdd.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：删除月结工单
  src/api/afterSale.js
  src/views/afterSale/saleRepair.vue
  src/views/afterSale/saleRepairAdd.vue
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 数据的导出
  src/utils/excel/Export2Excel.js
  src/views/afterSale/saleRepair.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 售后管理：还原
  src/api/afterSale.js
  src/views/afterSale/saleRepair.vue
  src/views/afterSale/saleRepairAdd.vue
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 修改导出文件名
  src/views/afterSale/saleRepair.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：优化月结单显示、安装管理；用户管理：新增慢病自动分析判断；账户管理：新增编辑个人信息
  src/api/health.js
  src/views/account/settings/AvatarModal.vue
  src/views/account/settings/BasicSetting.vue
  src/views/afterSale/saleInstall.vue
  src/views/afterSale/saleInstallAdd.vue
  src/views/afterSale/saleInstallModal.vue
  src/views/afterSale/saleRepairAdd.vue
  src/views/afterSale/saleRepairModal.vue
  src/views/customer/components/HealthReportAdd.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 账户管理：优化账户名显示；新增编辑账户信息；新增账户密码和手机号的修改（未完成）
  src/api/login.js
  src/components/GlobalHeader/RightContent.vue
  src/views/account/settings/BasicSetting.vue
  src/views/account/settings/Security.vue
  src/views/system/AccountList.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 账户管理：登陆后账户名未显示
  src/components/GlobalHeader/RightContent.vue
Due: vue-cli-service lint --mode preview

fix: 账户管理：新增更改账户密码；新增更改账户手机号(未完)；小站管理：优化小站内容显示，新增新建设备、编辑设备、删除设备功能
  src/api/login.js
  src/api/station.js
  src/views/account/settings/Security.vue
  src/views/station/StationManage.vue
  src/views/station/components/EditEquipment.vue
  src/views/station/components/StationEquipment.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 健康史的新增与查看
  src/api/customer.js
  src/views/customer/CustomerManager.vue
  src/views/customer/components/ChronicInformation.vue
  src/views/customer/components/EditUserMsg.vue
  src/views/customer/components/HealthReportAdd.vue
  src/views/customer/components/SeeUserMsg.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 账户管理：完善更改账户手机号；小站管理：完善删除设备
  src/api/login.js
  src/components/GlobalHeader/RightContent.vue
  src/views/account/settings/Security.vue
  src/views/station/components/EditEquipment.vue
  src/views/station/components/StationEquipment.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 更改健康史数据结构
  src/views/customer/components/EditUserMsg.vue
  src/views/customer/components/SeeUserMsg.vue
Due: vue-cli-service lint --mode preview

fix: 完善手机号登录，待优化
  src/api/login.js
  src/config/router.config.js
  src/store/modules/user.js
  src/views/user/Login.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 修复健康那个是bug
  src/api/customer.js
  src/views/customer/components/EditUserMsg.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 优化登录；增加接口请求时间
  src/utils/request.js
  src/views/health/HealthChronic.vue
  src/views/user/Login.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 三个指导的字数
  src/views/health/HealthChronicSpeechModal.vue
Due: vue-cli-service lint --mode preview

fix: ？
  src/views/customer/components/EditUserMsg.vue
Due: vue-cli-service lint --mode preview

fix: 域名加载
  src/config/router.config.js
  src/views/customer/components/SeeUserMsg.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 域名加载
  src/config/router.config.js
Due: eslint --fix

fix: 系统名称
  public/index.html
  src/config/router.config.js
  src/layouts/BasicLayout.vue
  src/layouts/UserLayout.vue
  src/locales/lang/zh-CN.js
  src/utils/domUtil.js
Due: vue-cli-service lint --mode preview, eslint --fix

fix: ？
  public/index.html
  src/config/router.config.js
Due: eslint --fix

fix: 从慢病管理进健康史
  src/views/disease/ChronicDisease.vue
Due: vue-cli-service lint --mode preview

fix: 登录背景
  src/assets/background2.svg
  src/layouts/UserLayout.vue
Due: vue-cli-service lint --mode preview

fix: 推正式版
  src/config/router.config.js
Due: eslint --fix

feat: 增加权限
  src/views/system/AccountList.vue
  src/views/system/PermissionList.vue
Due: vue-cli-service lint --mode preview

fix: 优化首次登陆
  src/views/user/Login.vue
Due: vue-cli-service lint --mode preview

fix: 账户管理请求全部数据
  src/views/system/AccountList.vue
Due: vue-cli-service lint --mode preview

fix: 退款问题
  src/views/afterSale/drawbackModal.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：0元支付、配件编码和id存储、再评估时作废最近流程
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：0元评估不记录内勤
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview

fix: 用户管理：优化创建者展示；优化用户个人信息出生年月日展示；优化搜索功能(未完善)；售后管理：提取新建工单
  src/views/afterSale/saleRepair.vue
  src/views/customer/CustomerManager.vue
  src/views/customer/components/SeeUserMsg.vue
Due: vue-cli-service lint --mode preview

fix: 用户管理：健康指导模板加载
  src/views/customer/components/AddHealthCoaching.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：安装
  src/config/router.config.js
Due: eslint --fix

Path conditions:
  vue-cli-service lint --mode preview: any of: *.vue
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less}
