Repository WangBRen/HMS-Web-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: vue-cli-service lint --mode preview, eslint --fix, stylelint --fix

fix: 用户症状问题
  src/components/DiaMsg/symptom.json
  src/views/customer/components/HealthDataManagmentForm.vue
  src/views/customer/components/HealthReportSee.vue
  src/views/health/HealthChronicSpeechModal.vue
  src/views/health/IndexPage.vue
Due: vue-cli-service lint --mode preview

feat: 健康报告搜索指标，检测范围
  src/api/health.js
  src/views/customer/components/HealthDataManagmentForm.vue
  src/views/customer/components/HealthReportSee.vue
  src/views/health/IndexPage.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 用户诊断显示不全问题
  src/components/DiaMsg/CheckDia.vue
  src/views/customer/components/HealthReportAdd.vue
Due: vue-cli-service lint --mode preview

fix: 增加单位和社区字段，优化用户编辑
  src/views/customer/components/CustomerInfoForm.vue
  src/views/customer/components/EditUserMsg.vue
  src/views/customer/components/SeeUserMsg.vue
Due: vue-cli-service lint --mode preview

feat: 参考范围逻辑修改
  src/views/customer/components/HealthReportSee.vue
  src/views/health/IndexPage.vue
Due: vue-cli-service lint --mode preview

fix: 修复随访单项目显示
  src/views/customer/components/SeeFollowUpSheet.vue
Due: vue-cli-service lint --mode preview

fix: 结果备注内容溢出问题
  src/views/customer/components/FollowUpFormEdit.vue
  src/views/customer/components/HealthReportSee.vue
  src/views/health/IndexPage.vue
Due: vue-cli-service lint --mode preview

fix: 显示全部慢病
  src/api/chronic.js
  src/views/customer/components/FollowUpFormEdit.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 优化社区单位
  src/views/customer/components/EditUserMsg.vue
Due: vue-cli-service lint --mode preview

fix: 个别指标不存在问题
  src/views/disease/ChronicDisease.vue
  src/views/health/IndexPage.vue
Due: vue-cli-service lint --mode preview

feat: 新增药物管理模块
  src/api/medicine.js
  src/config/router.config.js
  src/locales/lang/zh-CN/menu.js
  src/views/health/ChronicMedicineManage.vue
  src/views/health/components/ChronicMedicineAdd.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 药物管理
  src/views/health/components/ChronicMedicineAdd.vue
Due: vue-cli-service lint --mode preview

feat: 暂存
  src/api/customer.js
  src/api/followUpForm.js
  src/config/router.config.js
  src/locales/lang/zh-CN/menu.js
  src/views/disease/ChronicDisease.vue
  src/views/health/IndexPage.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 指标管理中结果为选项时的bug
  src/views/disease/ChronicDisease.vue
  src/views/health/IndexPage.vue
Due: vue-cli-service lint --mode preview

fix: 重构健康报告异常指标备注
  src/views/customer/components/HealthReportSee.vue
Due: vue-cli-service lint --mode preview

feat: 慢病管理补充功能，新增小站菜单
  src/config/router.config.js
  src/locales/lang/zh-CN/menu.js
  src/views/customer/CustomerManager.vue
  src/views/customer/components/SeeUserMsg.vue
  src/views/disease/ChronicDisease.vue
  src/views/station/AppointmentRecord.vue
  src/views/station/StationManage.vue
  src/views/station/components/HeathStationAdd.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 健康小站
  src/api/station.js
  src/config/router.config.js
  src/locales/lang/zh-CN/menu.js
  src/views/station/StationManage.vue
  src/views/station/components/HeathStationAdd.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 优化话术模板编辑，优化药物管理
  src/api/medicine.js
  src/config/router.config.js
  src/views/health/ChronicMedicineManage.vue
  src/views/health/HealthChronicSpeechModal.vue
  src/views/health/components/ChronicMedicineAdd.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: error
  src/locales/lang/zh-CN/menu.js
Due: eslint --fix

feat: 小站编辑
  src/api/station.js
  src/views/station/AppointmentRecord.vue
  src/views/station/StationManage.vue
  src/views/station/components/HeathStationAdd.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 小站更新
  src/api/station.js
  src/views/station/StationManage.vue
  src/views/station/components/HeathStationAdd.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 新增健康预约模块
  src/api/station.js
  src/views/disease/ChronicDisease.vue
  src/views/station/AppointmentRecord.vue
  src/views/station/StationManage.vue
  src/views/station/components/AppointmentAdd.vue
  src/views/station/components/HeathStationAdd.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 新增慢药物管理、慢病管理下的药物功能
  src/api/medicine.js
  src/config/router.config.js
  src/views/health/ChronicMedicineManage.vue
  src/views/health/HealthChronic.vue
  src/views/health/HealthChronicMedicine.vue
  src/views/health/components/ChronicMedicineAdd.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 小站与预约功能细节
  src/views/disease/ChronicDisease.vue
  src/views/station/AppointmentRecord.vue
  src/views/station/StationManage.vue
  src/views/station/components/AppointmentAdd.vue
Due: vue-cli-service lint --mode preview

feat: 随访新增检查项目
  src/views/customer/components/AddHealthCoaching.vue
  src/views/customer/components/FollowUpFormEdit.vue
  src/views/station/components/HeathStationAdd.vue
Due: vue-cli-service lint --mode preview

fix: 药物管理显示问题
  src/views/health/ChronicMedicineManage.vue
Due: vue-cli-service lint --mode preview

feat: 随访时新增药物
  src/views/customer/components/FollowUpFormEdit.vue
Due: vue-cli-service lint --mode preview

fix: 改善加载中显示
  src/views/customer/components/ChronicInformation.vue
  src/views/disease/ChronicDisease.vue
Due: vue-cli-service lint --mode preview

feat: 预约统计上下午
  src/views/station/AppointmentRecord.vue
Due: vue-cli-service lint --mode preview

feat: 预约记录权限
  src/api/login.js
  src/views/station/AppointmentRecord.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 修改缺陷
  src/api/manage.js
  src/locales/lang/zh-CN/user.js
  src/mock/services/auth.js
  src/views/customer/components/HealthReportSee.vue
  src/views/health/ChronicMedicineManage.vue
  src/views/health/HealthChronicMedicine.vue
  src/views/health/components/ChronicMedicineAdd.vue
  src/views/system/AccountList.vue
  src/views/system/PermissionList.vue
  src/views/user/Login.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 设置复查时间
  src/api/followUpForm.js
  src/views/customer/components/ChronicInformation.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 修改缺陷
  src/views/health/components/ChronicMedicineAdd.vue
Due: vue-cli-service lint --mode preview

feat: 随访倒计时
  src/views/customer/components/ChronicInformation.vue
  src/views/disease/ChronicDisease.vue
Due: vue-cli-service lint --mode preview

feat: 小站设备、健康报告
  src/views/customer/components/HealthReportAdd.vue
  src/views/customer/components/HealthReportSee.vue
  src/views/station/AppointmentRecord.vue
  src/views/station/StationManage.vue
  src/views/station/components/EditEquipment.vue
  src/views/station/components/StationEquipment.vue
Due: vue-cli-service lint --mode preview

fix: 设置表格文字省略超出问题
  src/views/health/ChronicMedicineManage.vue
  src/views/health/HealthChronic.vue
Due: vue-cli-service lint --mode preview

feat: 修改缺陷
  src/views/customer/CustomerManager.vue
  src/views/health/components/ChronicMedicineAdd.vue
  src/views/system/AccountList.vue
Due: vue-cli-service lint --mode preview

feat: 删除个人中心，修改个人设置页
  src/components/GlobalHeader/AvatarDropdown.vue
  src/config/router.config.js
  src/locales/lang/en-US/account/settings.js
  src/locales/lang/en-US/menu.js
  src/locales/lang/zh-CN/account/settings.js
  src/locales/lang/zh-CN/menu.js
  src/mock/services/user.js
  src/views/account/settings/Binding.vue
  src/views/account/settings/Custom.vue
  src/views/account/settings/Index.vue
  src/views/account/settings/Notification.vue
  src/views/account/settings/Security.vue
  src/views/customer/components/AddNewUser.vue
  src/views/station/components/AppointmentAdd.vue
  src/views/station/components/HeathStationAdd.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 随访时的药物
  src/views/customer/components/FollowUpFormEdit.vue
Due: vue-cli-service lint --mode preview

fix: 优化刷新加载
  src/views/customer/components/ChronicInformation.vue
  src/views/health/HealthChronicMedicine.vue
  src/views/station/AppointmentRecord.vue
  src/views/station/StationManage.vue
  src/views/station/components/AppointmentAdd.vue
Due: vue-cli-service lint --mode preview

Path conditions:
  vue-cli-service lint --mode preview: any of: *.vue
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less}
