Repository WangBRen/HMS-Web-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: vue-cli-service lint --mode preview, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.vue": "vue-cli-service lint --mode preview",
  "*.js": "eslint --fix",
  "*.{css,less}": "stylelint --fix"
}

feat: 1.添加页面刷新功能。2.优化系统加载页面。3.优化药物管理交互。4.优化药物管理新建/编辑框交互。5.优化账户管理
  public/index.html
  src/views/disease/ChronicDisease.vue
  src/views/health/ChronicMedicineManage.vue
  src/views/health/components/ChronicMedicineAdd.vue
  src/views/station/AppointmentRecord.vue
  src/views/station/StationManage.vue
  src/views/system/AccountList.vue
  src/views/system/PermissionList.vue
Due: vue-cli-service lint --mode preview

feat: 1.优化登录功能：首次登陆点击遮罩层不退出弹框；2.用户管理-健康信息：新增打印报告单功能
  src/main.js
  src/views/customer/components/FiltersHealthDataTableHeaders.vue
  src/views/customer/components/HealthDataManagmentForm.vue
  src/views/user/Login.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 1.用户管理-健康信息：优化打印功能，优化健康报告新建
  src/assets/printLogo.png
  src/views/customer/components/HealthDataManagmentForm.vue
  src/views/customer/components/HealthReportAdd.vue
Due: vue-cli-service lint --mode preview

fix: 打印插件
  package.json
  yarn.lock
Due: none

feat: 添加地图,修复健康指导
  package.json
  src/views/customer/components/AddHealthCoaching.vue
  src/views/customer/components/FollowUpFormEdit.vue
  src/views/station/components/HeathStationAdd.vue
  src/views/station/components/MapContainer.vue
  vue.config.js
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 地图经纬度逆解析
  src/views/station/components/HeathStationAdd.vue
  src/views/station/components/MapContainer.vue
Due: vue-cli-service lint --mode preview

fix: yarnLock
  yarn.lock
Due: none

fix: 更改健康信息异常小结逻辑
  src/views/customer/components/HealthReportSee.vue
Due: vue-cli-service lint --mode preview

fix: 注释vueconfig
  vue.config.js
Due: eslint --fix

fix: 用户姓名显示，排除异常指标结果为null情况
  src/views/customer/CustomerManager.vue
  src/views/customer/components/HealthReportSee.vue
Due: vue-cli-service lint --mode preview

feat: 新增随访单打印功能
  src/views/customer/components/FollowUpRecords.vue
  src/views/customer/components/PrintFollowUp.vue
Due: vue-cli-service lint --mode preview

fix: 药物管理 - 新增漏服用法
  src/views/health/components/ChronicMedicineAdd.vue
Due: vue-cli-service lint --mode preview

feat: 1.用户管理：新增查看负责家庭功能；2.账户管理：新增责任分配功能
  src/api/customer.js
  src/api/manage.js
  src/views/customer/CustomerManager.vue
  src/views/customer/components/HealthDataManagmentForm.vue
  src/views/system/AccountList.vue
  src/views/system/AssignDuty.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 1.账户管理：按用户名搜索;2.指标管理：指标拖拽(初步);3.超时处理;4.发送到小程序端(初步);5.用户管理：打印不显示健康师;6.药物管理：添加load;7.病症管理:超时问题
  src/utils/request.js
  src/views/customer/components/HealthCoachingSend.vue
  src/views/customer/components/HealthDataManagmentForm.vue
  src/views/health/ChronicMedicineManage.vue
  src/views/health/HealthChronic.vue
  src/views/health/IndexPage.vue
  src/views/system/AccountList.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 1.用户管理-慢病管理：优化健康指导发送(至小程序)，优化健康指导记录展示
  src/api/guidance.js
  src/utils/request.js
  src/views/customer/components/AddHealthCoaching.vue
  src/views/customer/components/HealthCoachingRecords.vue
  src/views/customer/components/HealthCoachingSend.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 售后管理
  src/config/router.config.js
  src/locales/lang/zh-CN/menu.js
  src/views/afterSale/saleInstall.vue
  src/views/afterSale/saleInstallModal.vue
  src/views/afterSale/saleRepair.vue
  src/views/afterSaleData/salePartManage.vue
  src/views/afterSaleData/saleQuestionManage.vue
  src/views/system/AccountList.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 售后管理
  src/api/afterSale.js
  src/main.js
  src/views/afterSale/drawbackModal.vue
  src/views/afterSale/saleInstall.vue
  src/views/afterSale/saleInstallAdd.vue
  src/views/afterSale/saleInstallModal.vue
  src/views/afterSale/saleRepair.vue
  src/views/afterSale/saleRepairAdd.vue
  src/views/afterSale/saleRepairModal.vue
  src/views/health/HealthChronicEdit.vue
Due: vue-cli-service lint --mode preview, eslint --fix

feat: 选择寄件退款
  src/api/afterSale.js
  src/utils/md5.js
  src/views/afterSale/drawbackModal.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 优化售后管理界面
  src/config/router.config.js
  src/views/afterSale/saleRepair.vue
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 退款
  src/views/afterSale/drawbackModal.vue
  src/views/afterSale/saleRepair.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理:优化配件选择
  src/views/afterSale/saleRepairModal.vue
  src/views/afterSaleData/saleQuestionManage.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理:优化文件上传
  src/views/afterSale/saleRepairAdd.vue
Due: vue-cli-service lint --mode preview

feat: 配件的增加、删除、修改
  src/api/afterSale.js
  src/views/afterSaleData/addNewPart.vue
  src/views/afterSaleData/salePartManage.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 配件优化
  src/api/afterSale.js
  src/views/afterSaleData/addNewPart.vue
  src/views/afterSaleData/salePartManage.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: update
  src/api/afterSale.js
  src/views/afterSale/saleRepairModal.vue
  src/views/afterSaleData/addNewPart.vue
  src/views/afterSaleData/salePartManage.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 售后管理：售后问题管理
  src/api/afterSale.js
  src/views/afterSaleData/saleQuestionEdit.vue
  src/views/afterSaleData/saleQuestionManage.vue
Due: vue-cli-service lint --mode preview, eslint --fix

fix: 售后管理：售后问题管理
  src/views/afterSaleData/saleQuestionManage.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：售后问题管理
  src/api/afterSale.js
Due: eslint --fix

fix: 售后管理：导入问题库
  src/views/afterSale/saleRepairAdd.vue
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：维修管理，接入配件库和问题库
  src/views/afterSale/saleRepair.vue
  src/views/afterSale/saleRepairAdd.vue
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：优化售后客户信息展示
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：时间排序
  src/views/afterSale/saleRepair.vue
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview

fix: 退款
  src/views/afterSale/drawbackModal.vue
  src/views/afterSaleData/salePartManage.vue
Due: vue-cli-service lint --mode preview

fix: 退款
  src/views/afterSale/drawbackModal.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：优化缺陷：保修期内改折扣；评估次数列；数据时间排序；上门配件不为空；单独滑动；已支付填单
  src/views/afterSale/saleRepair.vue
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：优化缺陷：评估排序；保修期内不显示快递费；已支付客户信息重复；待上门信息显示完整；费用价格优化；已支付显示时间和金额；保修，上门，寄件必填
  src/views/afterSale/saleRepair.vue
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview

fix: 售后管理：优化缺陷: 技术人员选择；新增品牌、型号、编号；技术电话两位；快递品牌; 优化展示
  src/views/afterSale/saleRepair.vue
  src/views/afterSale/saleRepairAdd.vue
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview

fix: updata
  src/views/afterSale/drawbackModal.vue
Due: vue-cli-service lint --mode preview

fix: 优化美化售后单查看弹框
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview

fix: updata
  src/views/afterSale/drawbackModal.vue
  src/views/afterSale/saleRepairModal.vue
Due: vue-cli-service lint --mode preview
