Repository WangBRen/HMS-Web-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: precommit, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.vue": "precommit",
  "*.js": "eslint --fix",
  "*.{css,less}": "stylelint --fix"
}

fix: add eslint rules
  .lintstagedrc.json
Due: none

fix: add eslint rules
  .lintstagedrc.json
  src/views/user/Login.vue
Due: precommit

fix: add eslint rules
  src/views/user/Login.vue
Due: precommit

fix: eslint
  .eslintrc.js
  src/views/user/Login.vue
Due: precommit, eslint --fix

fix: eslint
  .eslintrc.js
  .lintstagedrc.json
  package.json
Due: eslint --fix

fix: package version
  package.json
  yarn.lock
Due: none

fix: 随访单数据重新获取，修改随访单的ref，修复bug
  src/api/customer.js
  src/api/followUpForm.js
  src/views/customer/components/AddFollowUpSheet.vue
  src/views/customer/components/ChronicInformation.vue
  src/views/customer/components/DefineLevel.vue
  src/views/customer/components/FollowUpFormSend.vue
  src/views/customer/components/FollowUpRecords.vue
  src/views/customer/components/SeeFollowUpSheet.vue
Due: precommit, eslint --fix

fix: 修改分级和废除问题
  src/api/followUpForm.js
  src/views/customer/components/DefineLevel.vue
  src/views/customer/components/SeeFollowUpSheet.vue
Due: precommit, eslint --fix

fixed update
  src/views/health/HealthChronic.vue
  src/views/health/HealthChronicEdit.vue
Due: precommit

fixed update
  src/views/health/HealthChronic.vue
Due: precommit

fix: 分级确认弹窗
  src/views/customer/components/DefineLevel.vue
  src/views/customer/components/FollowUpFormSend.vue
  src/views/customer/components/FollowUpRecords.vue
  src/views/customer/components/SeeFollowUpSheet.vue
Due: precommit

feat: 新增话术功能，优化编辑慢病、分级、新建慢病功能
  src/api/chronic.js
  src/views/health/HealthChronic.vue
  src/views/health/HealthChronicEdit.vue
  src/views/health/HealthChronicSpeechModal.vue
  src/views/health/components/GradingStandard.vue
Due: precommit, eslint --fix

feat: 增加健康指导，修改确诊与误判页面
  src/views/customer/components/AddHealthCoaching.vue
  src/views/customer/components/ChronicInformation.vue
  src/views/customer/components/ChronicInformationChangeStatus.vue
  src/views/customer/components/ChronicInformationFirstFollowUp.vue
  src/views/customer/components/HealthCoachingRecords.vue
Due: precommit

fix: 修复点击慢病边缘不能展开问题
  src/views/customer/components/ChronicInformation.vue
Due: precommit

fix: registry resource of node npm
  .github/workflows/dev_build.yml
  .github/workflows/dev_deploy.yml
  .github/workflows/prod.yml
Due: none

fix: 修复点击疑似展开问题
  src/views/customer/components/ChronicInformation.vue
Due: precommit

upgrade package
  package.json
  yarn.lock
Due: none

fix: cicd/build
  .github/workflows/dev_build.yml
  .github/workflows/dev_deploy.yml
  .github/workflows/prod.yml
Due: none

fix: env for eslint
  .eslintrc.js
  .lintstagedrc.json
Due: eslint --fix

feat: 健康指导记录表和新增发送健康指导接接口
  src/api/guidance.js
  src/views/customer/components/AddHealthCoaching.vue
  src/views/customer/components/ChronicInformation.vue
  src/views/customer/components/FollowUpRecords.vue
  src/views/customer/components/HealthCoachingRecords.vue
  src/views/customer/components/HealthCoachingSend.vue
Due: precommit, eslint --fix

fix: 查看指导单，健康指导相关问题修改
  src/api/guidance.js
  src/views/customer/components/AddHealthCoaching.vue
  src/views/customer/components/ChronicInformation.vue
  src/views/customer/components/FollowUpRecords.vue
  src/views/customer/components/HealthCoachingRecords.vue
  src/views/customer/components/HealthCoachingSee.vue
  src/views/customer/components/HealthCoachingSend.vue
Due: precommit, eslint --fix

fix: 优化话术编辑功能
  src/api/chronic.js
  src/views/health/HealthChronicSpeechModal.vue
Due: precommit, eslint --fix

fix: 指导记录刷新与新建指导时切换慢病时改变模板
  src/views/customer/components/AddHealthCoaching.vue
  src/views/customer/components/HealthCoachingRecords.vue
Due: precommit

fix: 指导记录刷新
  src/api/guidance.js
  src/views/customer/components/AddHealthCoaching.vue
  src/views/customer/components/ChronicInformation.vue
  src/views/customer/components/HealthCoachingRecords.vue
Due: precommit, eslint --fix

fix: 优化话术编辑功能
  src/views/health/HealthChronicSpeechModal.vue
Due: precommit

fix: 指导表刷新，新建按钮禁用
  src/views/customer/components/AddHealthCoaching.vue
  src/views/customer/components/ChronicInformation.vue
  src/views/customer/components/HealthCoachingRecords.vue
Due: precommit

fix: 发送指导与指导切换慢病选择
  src/views/customer/components/ChronicInformation.vue
  src/views/customer/components/HealthCoachingSend.vue
Due: precommit

fix: 话术补充
  src/views/customer/components/ChronicInformation.vue
  src/views/customer/components/HealthCoachingSend.vue
Due: precommit

fix: 优化用户编辑功能中的地址选择
  src/components/CheckAddress/CheckAddress.vue
Due: precommit

fix: 优化健康报告中的图文报告功能
  src/views/customer/components/HealthReportAdd.vue
Due: precommit

fix: 优化话术模板功能，新增模板示例
  src/views/health/HealthChronicSpeechModal.vue
Due: precommit

fix: 分级不刷新问题，年龄问题，其他细节问题
  src/utils/age.js
  src/views/customer/components/AddFollowUpSheet.vue
  src/views/customer/components/AddHealthCoaching.vue
  src/views/customer/components/ChronicInformation.vue
  src/views/customer/components/DefineLevel.vue
  src/views/customer/components/FollowUpRecords.vue
  src/views/customer/components/SeeFollowUpSheet.vue
Due: precommit, eslint --fix

fix: 慢病管理中分级不连续问题
  src/views/customer/components/ChronicInformation.vue
  src/views/customer/components/FollowUpRecords.vue
  src/views/health/components/GradingStandard.vue
Due: precommit

fix: 把已废弃的随访单在表格中显示
  src/views/customer/components/FollowUpRecords.vue
  src/views/customer/components/SeeFollowUpSheet.vue
Due: precommit

fix: 优化话术模板功能,新增点击功能
  src/views/health/HealthChronicSpeechModal.vue
Due: precommit
